*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    background-color: #08002B
}

#parte1{
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right, #06011F, #0DFFE3);
    margin: 60 0 60 0;
    gap: 10px;
}

#parte1 #central{
    width: 370px;
    height: 385px;
}
#parte1 #central img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#parte1 #info{
    width: 70%;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
    text-shadow: 0px 0px 5px black;
}
#parte1 #info nav{
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

#parte1 #info nav button{
    border: solid 0;
    font-size: 24px;
    padding: 5;
    background: linear-gradient(to right, #0A0A0A 20%, #ffffff00 80%);
    background-position: right;
    background-size: 200% 100%;
    overflow: hidden;
    transition: ease-in 0.3s;
}
#parte1 #info nav button:hover{
    transition: ease-in 0.3s;
    background-position: left;
    color: white;
}

#parte1 #info #textarea{
    background-color: #0A0A0A;
    color: white;
    border: solid 0;
    width: 100%;
    height: 130px;
    font-size: 24px; ;
}

#parte1 #info #demo{
    width: 100%;
    height: 195px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    text-align: center;
}
#parte1 #info #demo #whatsapp{
    width: 250px;
    height: 60px;
    font-size: 24px;
    background-color: rgb(0, 0, 0); 
    color: rgb(0, 255, 4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(0, 255, 4);
    border-radius: 4px;
    margin: 25px 25px 0 25px ;
}

#parte1 #info #demo #demo1, #demo2, #demo3, #demo4, #demo5{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
#parte1 #info #demo div figure{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 80%;
    height: 50px;
}
#parte1 #info #demo #demo5{
    display: none; 
}
.p{
    text-align: center;
}

.imgP{
    width: 50px;
    height: 50px;
}
.imgM{
    width: 60px;
    height: 60px;
}
.imgG{
    width: 70px;
    height: 70px;
}
.imgSetinha{
    width: 70px;
    height: 20px;
}

ANIMAÇÕES 

.saida {
  animation: slideOut 0.5s forwards;
}

.entrada {
  animation: slideIn 0.5s forwards;
}

@keyframes slideOut {
  from { transform: translateX(100%); opacity: 1; }
  to { right: 100%; opacity: 0; }
}

@keyframes slideIn {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}


/*  *//*  *//*  */
/*  *//*  *//*  */
/*  *//*  *//*  */

#parte2{
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right, #06011F, #FF9F50);
    margin:0 0 60 0;
}
